body {
	font-family: 'Roboto', sans-serif;
}

.main {
  margin: auto;
  width: 50%;
  height: 70%;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  box-shadow: 10px 10px 30px grey;  
}