/* General Styling */
* {
	font-family: 'Inconsolata', monospace;
}

body {
   background-color: #323231;
}

a {
	color: black;
}

/* Specific Styling */
.pokemon {
  margin: 1em;
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 20px #505050; 
  background-color: white; 
  border-radius: 4px;
  border-bottom-style:solid;
  border-bottom:9px solid #2dc795;
}

.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(3, auto);
  justify-items: stretch;
  justify-content: center;
  align-content: start;
  align-items: start;
}

#singlepokemon {
  text-align: center;
}

#pokemons {
  text-align:center;
}

img {
	image-rendering: pixelated;
	width: 250px;
	height: 200px;
}

/* Zoekbar Styling */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2dc795;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #047450;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Media Querrys */
@media only screen and (max-width: 750px) {
    .pokemon {
    	text-align: center;
    	width: 50%;
    	height: 70%;
    }
}