* {
	font-family: 'Inconsolata', monospace;
}

body {
   background-color: #323231;
}

a {
	color: black;
}

.pokemon {
  display: inline-block;
  margin: 1rem;
  width: 350px;
  height: 30%;
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 20px #505050; 
  background-color: white; 
  border-radius: 4px;
  border-bottom-style:solid;
  border-bottom:9px solid #2dc795;
  overflow: auto;
}

#pokemon {
  left: 50%;
  margin: auto;
}
#singlepokemon {
  text-align: center;
}

#pokemons {
    text-align:center;
}

img {
	image-rendering: pixelated;
	width: 50%;
	height: 70%;
}


@media only screen and (max-width: 750px) {
    .pokemon {
    	text-align: center;
    	width: 50%;
    	height: 70%;
    }
}